@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
  font-display: swap;
}

*,
* ::before,
* ::after {
  box-sizing: border-box;
}


html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 3.6px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 0;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 8px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
  background-color: #FFE17F;
  z-index: -1;
}

.button:hover::before {
  height: 100%;
}

.button:active::before {
  height: 100%;
  background-color: #FFC700;
}

.button:focus {
  outline: 2px solid #AF4FFF;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

/* page-header */

.page-header {
  color: #000000;
  background: linear-gradient(#FFFFFF 40px, #FFE17F 40px 100%);
  padding-top: 15px;
}

.navigation {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;
  padding: 5px 60px 0 60px;
  row-gap: 30px;
}

.navigation-logo {
  align-self: flex-start;
}

.form-and-navigation-user {
  display: flex;
  align-items: start;
}

.search-form {
  display: flex;
  margin-right: 25px;
}

.field-search {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #FFE17F;
  width: 357px;
  padding-left: 48px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  border-right: none;
  flex-shrink: 0;
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: 16px center;
}

.field-search:focus {
  outline: 2px solid #AF4FFF;
}

.button-search {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-align: center;
  background-color: #FFE17F;
  width: 160px;
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
  flex-shrink: 0;
  cursor: pointer;
}

.button-search:hover {
  color: #FFFFFF;
  background-color: #000000;
}

.button-search:focus {
  outline: 2px solid #AF4FFF;
}

.button-search:active {
  color: rgba(225, 225, 225, 0.3);
  background-color: #000000;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  flex-grow: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-user-item {
  padding: 5px 0;
}

.navigation-user-item:first-child {
  display: flex;
  flex-grow: 1;
}

.navigation-user-item .login {
  background-image: url("../images/icons/login.svg");
  background-repeat: no-repeat;
  background-size: 15px 12px;
  background-position: left center;
  padding-left: 27px;
}

.navigation-user-item .compare {
  background-image: url("../images/icons/sort.svg");
  background-repeat: no-repeat;
  background-size: 10px 12px;
  background-position: left center;
  padding-left: 24px;
}

.navigation-user-item .cart {
  background-image: url("../images/icons/cart.svg");
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: left center;
  padding-left: 28px;
}

.navigation-user-item:hover {
  opacity: 0.6;
}

.navigation-user-item:focus {
  outline: 2px solid #AF4FFF;
}

.navigation-user-item:active {
  opacity: 0.3;
}

.navigation-user-link {
  flex-wrap: wrap;
  color: #000000;
  text-decoration: none;
  padding-left: 25px;
  max-width: 150px;
  margin: auto 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 45px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-item:first-child {
  margin-right: auto;
  display: flex;
  align-items: center;
  column-gap: 7px;
}

.navigation-item:hover:not(:first-child) {
  opacity: 0.6;
}

.navigation-item:focus {
  outline: 2px solid #AF4FFF;
}

.navigation-item:active:not(:first-child) {
  opacity: 0.3;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21.13px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.navigation-list-catalog-container {
  display: grid;
  grid-template-columns: 220px 180px 180px;
  column-gap: 30px;
}

.navigation-list-catalog {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-item-catalog:hover {
  opacity: 0.6;
}

.navigation-item-catalog:focus {
  outline: 2px solid #AF4FFF;
}

.navigation-item-catalog:active {
  opacity: 0.3;
}

.navigation-link-catalog {
  color: #000000;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  text-decoration: none;
}

/* Pages */

.main-container {
  flex-grow: 1;
}

.title {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
}

.text {
  color: #444444;
  margin: 0;
}

/* Slider */

.slider {
  color: #000000;
  background: linear-gradient(#FFE17F 60px, #FFFFFF 60px 100%);
  margin-bottom: 70px;
}

.gallery-slide {
  margin: 0 auto;
  padding: 0;
}

.gallery-slide-item {
  display: flex;
  margin: 0;
}

.slider-image {
  display: block;
}

.description {
  flex-grow: 1;
  padding-left: 40px;
}

.gallery-slide-slogan {
  margin-bottom: 30px;
}

.gallery-slide-advantage {
  margin-bottom: 50px;
}

.button-details {
  display: block;
  text-align: center;
  padding: 10px 5px;
  margin-bottom: 50px;
  width: 220px;
}

.gallery-slide-value {
  color: #000000;
  max-width: 200px;
  font-size: 36px;
  line-height: 30px;
  padding: 0;
  padding-bottom: 12px;
  padding-right: 20px;
}

.gallery-slide-parameter {
  color: #444444;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  padding: 0;
  padding-right: 20px;
}

.slider-pagination {
  display: flex;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  column-gap: 20px;
}

/* catalog-main */

.catalog-main {
  color: #000000;
  background-color: #FFFFFF;
  margin-bottom: 70px;
}

.catalog-main-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-main-image {
  background-color: #FFE17F;
}

.catalog-main-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.catalog-main-image {
  text-align: center;
}

.catalog-main-text {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.36px;
  margin: 0;
}

/* services */

.services {
  background: linear-gradient(#FFFFFF 106px, #F0F0F0 106px 100%);
  margin: 0 auto;
}

.services-container {
  display: flex;
  margin-bottom: 70px;
}

.services-list-button {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  width: 280px;
  margin: 0 116px 0 0;
  padding: 0;
  padding-top: 65px;
  list-style-type: none;
  border-right: 7px solid #000000;
}

.services-button {
  min-width: 160px;
}

.services-item-button:first-child .services-button {
  background-color: #FFFFFF;
}

.services-item-button-current {
  background-color: #000000;
}

.services-item-button-current:first-child .services-button {
  background-color: #000000;
  color: #FFE17F;
}

.services-item-button-current:first-child .button::before {
  background-color: #000000;
}

.services-item-content {
  width: 730px;
  min-height: 195px;
  padding: 72px 200px 72px 0;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center right;
}

.image-delivery {
  background-image: url("../images/deliveryman.svg");
}

.image-call {
  background-image: url("../images/call.svg");
}

.image-credit {
  background-image: url("../images/credit.svg");
}

.services-list-content {
  flex-grow: 1;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.services-title {
  margin-bottom: 34px;
}

.delivery-link {
  position: relative;
  text-decoration: none;
}

.delivery-container {
  display: flex;
  margin: 0 auto;
  height: 100px;
  margin-bottom: 70px;
  align-items: center;
  background: linear-gradient(to right, #FFE17F 125px, #F0F0F0 125px 100%);
}

.delivery-image-container {
  width: 125px;
}

.delivery-image {
  display: block;
  margin: 0 auto;
}

.delivery-about {
  flex-grow: 1;
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 20px;
  line-height: normal;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
  padding-right: 125px;
  padding-left: 125px;
  background-image: url("../images/icons/i.svg");
  background-repeat: no-repeat;
  background-position: 952px center;
}

/* about-and-contacts */

.about-and-contacts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 40px;
  column-gap: 40px;
  color: #000000;
  background-color: #FFFFFF;
  margin-bottom: 70px;
}

.about {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 560px;
}

.about::before {
  content: '';
  position: absolute;
  width: 84px;
  height: 7px;
  top: -40px;
  background-color: #000000;
}

.title-about {
  margin-bottom: 18px;
}

.about-list {
  display: flex;
  flex-direction: column;
  row-gap: 19px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.about-item {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.36px;
  padding-left: 34px;
}

.button-about {
  align-self: flex-start;
  padding: 5px 30px;
}

.contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 560px;
  padding-left: 20px;
}

.contacts::before {
  content: '';
  position: absolute;
  width: 84px;
  height: 7px;
  top: -40px;
  background-color: #000000;
}

.contacts-title {
  color: #444444;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 15px;
}

.contacts-address {
  font-style: normal;
}

.contacts-phone {
  color: #444444;
}

.contacts-schedule {
  color: #444444;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* newsletter */

.newsletter {
  margin: 0 auto;
  background-color: #F0F0F0;
  padding-top: 65px;
  padding-bottom: 55px;
}

.newsletter-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 144px;
}

.newsletter-title {
  width: 348px;
  margin-right: 250px;
}

.newsletter-text-container {
  width: 560px;
  padding: 0;
  flex-grow: 1;
  color: #444444;
}

.newsletter-form {
  display: flex;
  width: 810px;
}

.field {
  color: rgba(68, 68, 68, 0.5);
  background-color: #F0F0F0;
  width: 557px;
  border: 3px solid #C4C4C4;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 18px;
  line-height: 30px;
  padding-left: 16px;
}

.newsletter-button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 3.6px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  width: 253px;
  padding: 18px 39px;
  border: 3px solid #C4C4C4;
}

.form-text-container {
  position: relative;
  margin: auto 0;
  margin-left: auto;
  padding-left: 32px;
  background-image: url("../images/icons/tick-big.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

/* page-footer */

.page-footer {
  color: #FFFFFF;
  background-color: #444444;
}

.page-footer-container {
  position: relative;
  display: grid;
  grid-template-columns: 280px 560px 280px;
  column-gap: 20px;
  row-gap: 35px;
  width: 1160px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer-container::after {
  content: '';
  position: absolute;
  width: 80px;
  height: 7px;
  top: 237px;
  background-color: #FFC700;
}

.footer-contacts-address {
  grid-row: 2 / 3;
  color: inherit;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
}

.address-text {
  margin: 0;
  padding-bottom: 12px;
}

.footer-contacts-phone {
  grid-row: 2 / 3;
  margin-top: 7px;
  justify-self: end;
}

.footer-contacts-address-phone {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
}

.footer-navigation-list {
  grid-row: 2 / 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: flex-start;
  column-gap: 35px;
  margin: 0;
  margin-top: 4px;
  padding: 0;
  list-style-type: none;
}

.footer-navigation-link {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: normal;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.footer-social-list {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: center;
  align-self: flex-start;
  column-gap: 15px;
}

.button-social {
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px;
}

.button-social-tl {
  background-image: url("../images/icons/telegram.svg");
}

.button-social-yt {
  background-image: url("../images/icons/youtube.svg");
}

.button-social-tw {
  background-image: url("../images/icons/twitter.svg");
}

.htmlacademy-logo {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  justify-self: end;
  margin-top: 3px;
}

/* CATALOG */

.navigation-user-link-exit {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  margin-left: auto;
}

.navigation-user-link-exit:hover {
  color: rgba(0, 0, 0, 1);
}

.navigation-user-link-exit:active {
  color: rgba(0, 0, 0, 1);
}

/* main-inner */

.main-inner {
  padding-top: 35px;
}

.inner-header {
  padding-left: 60px;
  margin-bottom: 35px;
  color: #000000;
  background-color: #FFFFFF;
}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  color: #000000;
  list-style-type: none;
  column-gap: 36px;
}

.breadcrumbs-link {
  color: inherit;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.catalog-products {
  display: flex;
  background-color: #F0F0F0;
  justify-content: center;
}

.catalog-products-title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: normal;
  color: #000000;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.filter-conainer {
  width: 320px;
  padding: 0 0 0 60px;
}

.text-container {
  padding: 25px 0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  letter-spacing: -0.36px;
}

.catalog-right-column {
  width: 840px;
}

.control {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.sort-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 20px 40px;
}

.select-control {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.button-sort-container {
  display: flex;
  width: 60px;
}

.button-increase {
  display: block;
  padding: 0;
  width: 30px;
  height: 30px;
}

.button-decrease {
  display: block;
  padding: 0;
  width: 30px;
  height: 30px;
}

/* product */

.product-card-container {
  color: #000000;
  background-color: #FFFFFF;
  padding-bottom: 78px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  row-gap: 44px;
  column-gap: 40px;
  margin: 0;
  padding: 70px 40px 44px 40px;
  list-style-type: none;
}

.product-card-link {
  display: grid;
  grid-template-columns: 205px 135px;
  row-gap: 32px;
  column-gap: 20px;
  text-decoration: none;
}

.product-card-image {
  grid-column: 1 / -1;
  width: 360px;
  height: 380px;
  object-fit: contain;
  background-color: rgba(211, 211, 211, 0.5);
}

.product-card-title {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  margin: 0;
}

.product-card-price {
  color: #444444;
  font-size: 18px;
  line-height: normal;
  text-align: right;
  margin: 0;
}

.product-card-more {
  display: none;
}

/* pagination */

.pagination-show-more {
  display: block;
  margin: 0 auto;
  margin-bottom: 44px;
  padding: 18px 39px;
  width: 760px;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 760px;
  background-color: #EBEBEB;
}

.pagination {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 20px;
  font-weight: 400;
  padding: 10px 0;
  color: #444444;
  text-decoration: none;
}

.pagination-prev {
  display: block;
  padding: 25px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-disabled {
  color: rgba(68, 68, 68, 0.3);
}

.pagination-current {
  color: rgba(68, 68, 68, 0.6);
}

.pagination-next {
  color: #000000;
}
