@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
  font-display: swap;
}

*,
* ::before,
* ::after {
  box-sizing: border-box;
}


html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 3.6px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 0;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

/* page-header */

.page-header {
  color: #000000;
  background: linear-gradient(#FFFFFF 25px, #FFE17F 25px 100%);
  margin-top: 15px;
  height: 186px;
}

.navigation {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;
  padding: 5px 60px 0 60px;
  row-gap: 30px;
}

.form-and-navigation-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-form {
  display: flex;
}

.field-search {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #FFE17F;
  width: 359px;
  height: 40px;
  border: 2px solid #000000;
}

.button-search {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-align: center;
  background-color: #FFE17F;
  margin-right: 40px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  list-style-type: none;
  margin: 0;
}

.navigation-user-item:first-child {
  flex-grow: 1;
}

.navigation-user-link {
  color: #000000;
  text-decoration: none;
  padding-left: 30px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-item:not(:last-child) {
  margin-right: 45px;
}

.navigation-item:first-child {
  margin-right: auto;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21.13px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.navigation-list-catalog {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;
}

.navigation-link-catalog {
  color: #000000;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  text-decoration: none;
}

/* Pages */

.main-container {
  flex-grow: 1;
}

.title {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
}

.text {
  color: #444444;
  margin: 0;
}

/* Slider */

.slider {
  color: #000000;
  background-color: #FFFFFF;
  margin-bottom: 70px;
}

.gallery-slide {
  margin: 0 auto;
  padding: 0;
}

.gallery-slide-item {
  display: flex;
  margin: 0;
}

.slider-image {
  display: block;
}

.description {
  flex-grow: 1;
  padding-left: 40px;
}

.gallery-slide-slogan {
  margin-bottom: 30px;
}

.gallery-slide-advantage {
  margin-bottom: 50px;
}

.button-details {
  display: block;
  padding: 10px 5px;
  margin-bottom: 50px;
  width: 210px;
}

.gallery-slide-value {
  color: #000000;
  max-width: 200px;
  font-size: 36px;
  line-height: 30px;
  padding: 0;
  margin-bottom: 12px;
  padding-right: 20px;
}

.gallery-slide-parameter {
  color: #444444;
  font-size: 16px;
  line-height: 30px;
  padding: 0;
  padding-right: 20px;
}

.slider-pagination {
  display: flex;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  column-gap: 20px;
}

/* catalog-main */

.catalog-main {
  color: #000000;
  background-color: #FFFFFF;
  margin-bottom: 70px;
}

.catalog-main-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  column-gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-main-image {
  background-color: #FFE17F;
}

.catalog-main-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.catalog-main-image {
  text-align: center;
}

.catalog-main-text {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.36px;
  margin: 0;
}

/* services */

.services {
  background: linear-gradient(#FFFFFF 100px, #F0F0F0 100px 100%);
  margin: 0 auto;
}

.services-container {
  display: flex;
  margin-bottom: 70px;
}

.services-list-button {
  width: 280px;
  margin: 0 116px 0 0;
  padding: 0;
  padding-top: 65px;
  list-style-type: none;
}

.services-button {
  width: 160px;
  margin-bottom: 35px;
}

.services-item-content {
  width: 730px;
  min-height: 195px;
  padding: 72px 0;
}

.image-services {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center right;
}

.image-delivery {
  background-image: url(../images/deliveryman.svg);
}

.image-call {
  background-image: url(../images/call.svg);
}

.image-credit {
  background-image: url(../images/credit.svg);
}

.services-list-content {
  flex-grow: 1;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.services-title {
  margin-bottom: 34px;
}

.delivery-link {
  text-decoration: none;
}

.delivery-container {
  display: flex;
  margin: 0 auto;
  height: 100px;
  margin-bottom: 70px;
  align-items: center;
  background: linear-gradient(to right, #FFE17F 125px, #F0F0F0 125px 100%)
}

.delivery-image-container {
  width: 125px;
}

.delivery-image {
  display: block;
  margin: 0 auto;
}

.delivery-about {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 20px;
  line-height: normal;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
  width: 910px;
}

/* about-and-contacts */

.about-and-contacts {
  display: flex;
  padding-top: 40px;
  column-gap: 40px;
  color: #000000;
  background-color: #FFFFFF;
  margin-bottom: 70px;
}

.about {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 560px;
}

.contacts {
  width: 560px;
  padding-left: 20px;
}

.title-about {
  margin-bottom: 18px;
}

.about-list {
  display: flex;
  flex-direction: column;
  row-gap: 19px;
  margin: 0;
  list-style-type: none;
  padding-left: 34px;
}

.about-item {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.36px;
}

.contacts {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.contacts-title {
  color: #444444;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 15px;
}

.contacts-address {
  font-style: normal;
}

.contacts-phone {
  color: #444444;
}

.contacts-schedule {
  color: #444444;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* newsletter */

.newsletter {
  margin: 0 auto;
  background-color: #F0F0F0;
  padding-top: 65px;
  padding-bottom: 55px;
}

.newsletter-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 144px;
}

.newsletter-title {
  width: 348px;
  margin-right: 250px;
}

.newsletter-text-container {
  width: 560px;
  padding: 0;
  flex-grow: 1;
  color: #444444;
}

.newsletter-form {
  width: 810px;
}

.field {
  color: #444444;
}

.form-text-container {
  margin-left: auto;
  padding-left: 32px;
}

/* page-footer */

.page-footer {
  color: #FFFFFF;
  background-color: #444444;
}

.page-footer-container {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contacts-address {
  display: flex;
  color: inherit;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
}

.address-text {
  width: 240px;
  margin-right: auto;
}

.footer-contacts-address-phone {
  color: #FFFFFF;
}

.footer-navigation-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-navigation {
  max-width: 460px;
  margin-bottom: 60px;
}

.footer-navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-navigation-item:not(:last-child) {
  margin-right: 35px;
}

.footer-navigation-link {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: normal;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.footer-social-container {
  display: flex;
}

.footer-social-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  column-gap: 15px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

/* CATALOG */

.navigation-user-link-exit {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  margin-left: 28px;
}

/* main-inner */

.main-inner {
  padding-top: 35px;
}

.inner-header {
  padding-left: 60px;
  margin-bottom: 35px;
  color: #000000;
  background-color: #FFFFFF;
}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  color: #000000;
  list-style-type: none;
  column-gap: 36px;
}

.breadcrumbs-link {
  color: inherit;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.catalog-products {
  display: flex;
  background-color: #F0F0F0;
  justify-content: center;
}

.catalog-products-title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: normal;
  color: #000000;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.filter-conainer {
  width: 320px;
  padding: 0 0 0 60px;
}

.text-container {
  padding: 25px 0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  letter-spacing: -0.36px;
}

.catalog-right-column {
  width: 840px;
}

.control {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.sort-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 20px 40px;
}

.select-control {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.button-sort-container {
  display: flex;
  width: 60px;
}

.button-increase {
  display: block;
  padding: 0;
  width: 30px;
  height: 30px;
}

.button-decrease {
  display: block;
  padding: 0;
  width: 30px;
  height: 30px;
}

/* product */

.product-card-container {
  color: #000000;
  background-color: #FFFFFF;
  padding-bottom: 78px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 70px 40px 0 40px;
  list-style-type: none;
}

.product-card-item {
  margin-bottom: 44px;
}

.product-card-link {
  text-decoration: none;
}

.product-card-image {
  text-align: center;
}

.product-card-title {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.product-card-price {
  color: #444444;
  font-size: 18px;
  line-height: normal;
  text-align: right;
}

/* pagination */

.pagination-show-more {
  display: block;
  margin: 0 auto;
  margin-bottom: 44px;
  padding: 18px 39px;
  width: 760px;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 760px;
  background-color: #EBEBEB;
}

.pagination {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 20px;
  font-weight: 400;
  padding: 10px 0;
  color: #444444;
  text-decoration: none;
}

.pagination-prev {
  display: block;
  padding: 25px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-disabled {
  color: rgba(68, 68, 68, 0.3);
}

.pagination-current {
  color: rgba(68, 68, 68, 0.6);
}

.pagination-next {
  color: #000000;
}
